<header class="site-header navbar">
  <nav class="container">
    <div class="logo">
      MAPM
    </div>

    <div class="user-actions">
      <a class="button-login" href="/login">Login</a>
    </div>
  </nav>
</header>
