<header class="site-header navbar">
  <nav class="container">
    <div class="logo">
      <a href="/">
        <img src="/images/mapm-logo.png" alt="MAPM" />
      </a>
    </div>

    <div class="user-actions">
      <a class="btn btn-success" href="/login">Login</a>
    </div>
  </nav>
</header>
