<header class="site-header navbar">
  <nav class="container">
    <div class="logo">
      <a href="/">
        <img src="/images/mapm-logo.png" alt="MAPM" />
      </a>
    </div>

    <div class="user-actions">
      {{#if username}}
        <form method="POST" action="/logout" style="display: inline;">
          <span class="user-actions--username">Hi, <a class="username-link" href="/api/users/{{user_id}}">{{username}}</a></span>
          <button class="btn btn-success">Logout</button>
        </form>
          <a href="/api/categories/new"><button class="btn btn-success" style="display: inline;">New</button></a>
      {{else}}
        <a class="btn btn-success" href="/login">Login</a>
      {{/if}}
    </div>
  </nav>
</header>
