<header class="site-header navbar">
  <nav class="container">
    <div class="logo">
      <img src="/images/mapm-logo.png" alt="MAPM" />
    </div>
    <div class="user-actions">
      {{#if user}}
        <form method="POST" action="/logout">
          Hi, {{user}}
          <button class ="btn btn-success">Logout</button>
        </form>
      {{else}}
        <a class="btn btn-success" href="/login">Login</a>
      {{/if}}
    </div>
  </nav>
</header>
