<section class="home-hero--image" data-parallax="scroll" data-image-src="/images/home-hero-image.jpeg">
  <div class="home-hero--message">
    <h1>Welcome to MAPM!</h1>

    <p>Wikipedia is easy to use if you want to read about a topic, but what if you only want to visualize it. Introducing MAPM!</p>
    <p>A free to use, publicly moderated mapping app that allows any authenticated user to contribute.</p>
    <p>We believe in the wisdom of the crowd and making geographical facts freely available to all.</p>
  </div>
</section>
