<section class="home-hero--image" data-parallax="scroll" data-image-src="/images/home-hero-image.jpeg">
  <div class="home-hero--message">
    <h1>Welcome to MAPM!</h1>

    <p>I love chocolate ice cream biscuit gummi bears sweet bonbon chocolate bar. Chocolate jelly beans lemon drops tart tiramisu candy liquorice jujubes. Candy toffee apple pie pastry marzipan liquorice sweet sesame snaps I love. Icing gummies muffin donut cake apple pie.</p>
  </div>
</section>
