body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-size: $font-body-size;
}

.site-main {
  flex: 1 0 auto;
  margin-top: $space-xx-large;
  margin-bottom: $space-xx-large;
}

h1 {
  margin-top: 0;
  text-align: center;
}

.home-category--title {
  margin: $space-xx-large 0 $space-x-large;
}
