body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-size: $font-body-size;
}

.site-main {
  flex: 1 0 auto;
  margin-top: $space-xx-large;
  margin-bottom: $space-xx-large;
}

#map {
  height: 500px;
  visibility: hidden;
}

#pac-input {
  display: none;
  width: 100%;
  margin-bottom: $space-small;
  font-size: $font-body-size;
  text-overflow: ellipsis;
}

.home-hero--image {
  position: relative;
  min-height: 400px;
  background: transparent;
}

.home-hero--message {
  height: 420px;
  padding: $space-x-large;
  background: rgba($color-white, 0.8);

  @include media($min: $bp-small) {
    @include centerer;
    height: auto;
  }

  h1 {
    text-align: center;

    @include media($min: $bp-small) {
      margin-top: 0;
    }
  }
}
