.site-header {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 60px;
  padding: 0;
  color: $color-white;
  background: $color-darker-gray;
  border-bottom: 1px solid $color-darkest-gray;
  box-shadow: 0 0 4px rgba($color-black, 0.14), 0 4px 8px rgba($color-black, 0.28);

  .logo img {
    max-width: 150px;

    @include media($min: $bp-small) {
      max-width: 180px;
    }
  }

  .user-actions {
    margin-left: auto;
  }

  .user-actions--username {
    margin-right: $space-small;
  }
}

.username-link{
  color: $color-green;
  text-transform: capitalize;
}
