<form method="POST" action="/api/categories/">
   <div class="form-group">
    <label for="formGroupExampleInput">Name</label>
    <input type="text" class="form-control" name ="title" >
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Description</label>
    <input type="text" class="form-control" name="description">
  </div>
  <div class="custom-file">
    <label for="formGroupExampleInput3">Image</label>
    <input type="file" class="custom-file-input" id="validatedCustomFile" required>
    <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
    <div class="invalid-feedback">Example invalid custom file feedback</div>  
  </div>    
  <button type="submit" class="btn btn-primary">Submit</button>
</form>



