<input id="pac-input" class="controls form-control" type="text" placeholder="Enter a location">

<div id="map"></div>

<div id="infowindow-content">
  <img id="place-photo" src="" />
  <span id="place-name"></span>
  <span id="place-description"></span>
</div>
