.category-title {
  text-transform: capitalize;
}

.category-list--title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: $space-medium 0 $space-x-small;
}

.category-list--title {
  margin: 0;
}

.list-group li {
  &:hover {
    background-color: $color-green;
    color: $color-white;
  }
}

.categories-form--new-save {
  @extend %clearfix;
}

#category-form-button {
  margin-top: $space-small;
  float: right;
}

.categories-contributed--title,
.categories-liked--title {
  margin: $space-xx-large 0 $space-x-large;
  text-align: center;
}

.categories-grid {
  margin: 0 auto;
}

.category-grid--item {
  margin-bottom: $space-medium;

  img {
    max-width: 300px;
    transition: 0.2s ease;
  }

  &:hover {
    img {
      opacity: 0.5;
    }
  }
}

.category-list--like {
  position: absolute;
  right: 5px;
  bottom: 8px;
  display: block;
  cursor: pointer;

  svg {
    width: 30px;
    transition: 0.3s ease;

    &:hover {
      opacity: 0.7;
    }
  }
}

.category-grid--info {
  @include centerer;
  padding: $space-x-small;
  text-align: center;
  background: rgba($color-white, 0.8);

  span:first-of-type {
    display: block;
    margin-bottom: $space-xx-small;
    text-transform: capitalize;
  }
}

.category-grid--no-image {
  width: 300px;
  height: 300px;
  background-color: $color-green;
}

.category-grid--link {
  color: $color-black;
}
