// Google Maps Info Window
#infowindow-content {
  width: 100%;
}

#place-photo {
  float: left;
  max-width: 100px;
  max-height: 75px;
  margin-right: $space-x-small;
}

#place-name {
  display: block;
  margin-bottom: $space-x-small;
  font-size: $font-body-size;
  font-weight: 500;
}

#place-description {
  display: block;
  font-size: $font-body-size-smaller;
}
